 html {
     scroll-behavior: smooth;
 }
 
 #permission:hover {
     text-decoration: underline;
 }
 
 [data-title]:hover:after {
     opacity: 1;
     transition: all 0.1s ease 0.5s;
     visibility: visible;
 }
 
 [data-title]:after {
     content: attr(data-title);
     background-color: blue;
     color: white;
     font-size: 12px;
     position: absolute;
     padding: 1px 5px 2px 5px;
     bottom: -1.6em;
     left: 100%;
     white-space: nowrap;
     box-shadow: 1px 1px 3px #222222;
     opacity: 0;
     z-index: 99999;
     visibility: hidden;
 }
 
 [data-title] {
     position: relative;
 }
 
 .preloader {
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     background-color: white;
     height: 100vh;
     width: 100%;
     transition: height .1s linear;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 9999;
 }
 
 .navbar {
     position: relative;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     padding: 0px 8px;
 }
 
 .tip {
     background-color: rgb(222 226 230);
 }
 
 .main-top-bar {
     padding: 4px;
     padding-top: 6px;
     padding-bottom: 6px;
     background-color: rgb(233 235 236);
     border-bottom: 1px solid rgb(222 226 230);
 }
 
 .brand-link {
     display: block;
     font-size: 1.25rem;
     line-height: 1.5;
     padding: 0.3rem 0.3rem;
     transition: width .3s ease-in-out;
     white-space: nowrap;
 }
 
 .content-header {
     padding: 0px 0px 20px 0px;
 }
 
 .main-footer {
     background-color: rgb(255 255 255);
     border-top: 1px solid rgb(222 226 230);
     color: rgb(134 144 153);
     padding: 0.5rem;
 }
 
 .box {
     border: 1px solid rgb(219 222 224);
     margin-bottom: 15px;
 }
 
 .box .box-header {
     background: rgb(255 255 255);
     color: rgb(52 56 60);
     font-size: 16px;
     background: rgb(247 247 248);
     border-bottom: 1px solid rgb(219 222 224);
     height: 40px;
 }
 
 body {
     margin: 0;
     font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: rgb(33 37 41);
     text-align: left;
     background-color: white;
 }
 
 .content-wrapper {
     background-color: white;
 }
 
 .card-header {
     background-color: rgb(0 0 0 / 0%);
     border-bottom: 1px solid rgb(0 0 0 / 13%);
     padding: 0.4rem .80rem;
     position: relative;
     border-top-left-radius: 0.25rem;
     border-top-right-radius: 0.25rem;
 }
 
 .lightbox {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: black;
 }
 
 .error-message {
     font-size: 80%;
     color: rgb(220 53 69);
 }
 
 .success-message {
     color: green;
 }
 /* .card-profile{
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0rem; 
    
   } */
 
 .status:hover {
     text-decoration: underline;
 }
 /* .active{
    background-color:rgb(0 123 255);
   } */
 
 .toggle-class {
     width: 80px;
     height: 20px;
     font-size: 12px;
 }
 
 .well {
     min-height: 20px;
     padding: 19px;
     margin-bottom: 20px;
     background-color: rgb(245 245 245);
     border: 1px solid rgb(227 227 227);
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
     box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
 }
 
 .alert-danger {
     color: rgb(255 255 255);
     background-color: rgb(244 62 44 / 95%);
     border-color: rgb(231 76 60);
 }
 
 .alert-success {
     color: rgb(255 255 255);
     background-color: rgb(72 202 102);
     border-color: rgb(72 202 102);
 }
 
 .btn-custome {
     margin: -11px;
 }
 /* width */
 
 *::-webkit-scrollbar {
     width: 5px;
 }
 /* Track */
 
 *::-webkit-scrollbar-track {
     background: #f1f1f1;
 }
 /* Handle */
 
 *::-webkit-scrollbar-thumb {
     background: #888;
 }
 /* Handle on hover */
 
 *::-webkit-scrollbar-thumb:hover {
     background: #555;
 }
 
 .box-main {
     border: 1px solid rgb(219 222 224);
     margin-bottom: 15px;
     border-radius: 5px;
 }
 
 .box-main .box-body {
     width: 100%;
     height: 100%;
     background-color: white;
     padding: 20px;
 }
 
 .box-main .box-header-1 {
     color: rgb(52 56 60);
     font-size: 18px;
     background: rgb(247 247 248);
     border-bottom: 1px solid rgb(219 222 224);
     border-radius: 5px;
     height: 40px;
 }
 
 .box-main .box-header-1 h4 {
     float: left;
     padding: 10px 0px;
     margin: 0px 0px 0px 10px;
     font-size: 18px;
     line-height: 18px;
     font-weight: bold;
 }
 .fieldset{
    border: 1px solid rgb(219 222 224) !important;
    padding: 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    width:100%;
 }
 .scheduler-border {
    font-size: 1.1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    color: rgb(66 139 202);
    padding: 5px 15px;
    border: 1px solid rgb(219 222 224) !important;
    margin: 0;


}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: blue;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.20s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

.progress{
   position:relative;
   width:100%;
   background-color:#c9cfc9;
}
.bar{
  background-color:green;
  width:0%;
  height:20px;
  padding-top:8px;
}
.percent{
  color:white;
  font-size:16px;
  font-weight:bold;
  position: absolute;
  left:50%;
}
.input-groupicon{
    position:relative;
}
.form-group .input-groupicon .addonset {
    position: absolute;
    right: 12px;
    top: 50%;
    line-height: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    }
